@model ShopingCartEF.Orther

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Orther</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerID, "CustomerID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CustomerID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DateOrdered, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateOrdered)
                    @Html.ValidationMessageFor(model => model.DateOrdered)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DateRicived, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateRicived)
                    @Html.ValidationMessageFor(model => model.DateRicived)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ShippingMethod, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShippingMethod)
                    @Html.ValidationMessageFor(model => model.ShippingMethod)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentMethod, "PaymentMethod", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PaymentMethod", String.Empty)
                    @Html.ValidationMessageFor(model => model.PaymentMethod)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaymentType)
                    @Html.ValidationMessageFor(model => model.PaymentType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Amout, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amout)
                    @Html.ValidationMessageFor(model => model.Amout)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
