@model ShopingCartEF.OrderItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>OrderItem</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Quantily)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quantily)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Orther.ShippingMethod)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Orther.ShippingMethod)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product.ImageUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product.ImageUrl)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
