@model PagedList.IPagedList<ShopingCartEF.Customer>

@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="@Url.Action("index","Home")">Trang chủ</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="@Url.Action("index", "Customers")"> hàng</a></li>
</ul>

<div class="row-fluid sortable ui-sortable">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon user"></i><span class="break"></span>Danh mục</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div id="1DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="dataTables_length" id="DataTables_Table_0_length">
                            <label>
                                <select aria-controls="DataTables_Table_0" size="1" name="DataTables_Table_0_length">
                                    <option selected="selected" value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> records per page
                            </label>
                        </div>
                    </div><div class="span6">
                        <div id="DataTables_Table_01_filter" class="dataTables_filter">
                            <label>Search: <input aria-controls="DataTables_Table_0" type="text"></label>
                        </div>
                    </div>
                </div>
                >

                <table aria-describedby="DataTables_Table_0_info1" id="DataTables_Table_01" class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
                    <thead>
                        <tr role="row">

                            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 171px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                                Username
                            </th>
                            <th aria-label="Date registered: activate to sort column ascending" style="width: 248px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                                Email @*Date registered*@
                            </th>
                            <th aria-label="Role: activate to sort column ascending" style="width: 137px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                                Password
                            </th>
                            <th aria-label="Role: activate to sort column ascending" style="width: 137px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                                Phone
                            </th>
                            <th aria-label="Status: activate to sort column ascending" style="width: 144px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                                DOB
                            </th>
                            <th aria-label="Actions: activate to sort column ascending" style="width: 288px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                                Actions
                            </th>

                        </tr>
                    </thead>

                    <tbody aria-relevant="all" aria-live="polite" role="alert">
                        @foreach (var item in Model)
                        {
                            <tr class="odd">

                                <td class="  sorting_1">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="center ">

                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="  sorting_1">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="  sorting_1">
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td class="  sorting_1">
                                    @Html.DisplayFor(modelItem => item.DOB)
                                </td>

                                <td class="center ">
                                    <a class="btn btn-success" href="#">
                                        <i class="halflings-icon white zoom-in"></i>
                                    </a>
                                    <a class="btn btn-info" href="#">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                    <a class="btn btn-danger" href="#">
                                        <i class="halflings-icon white trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }



                    </tbody>
                </table>
                <div class="row-fluid">
                    <div class="span12">
                        <div id="DataTables_Table_01_info" class="dataTables_info">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                    </div>
                    <div class="span12 center">
                        <div class="dataTables_paginate paging_bootstrap pagination">
                           @Html.PagedListPager(Model, page => Url.Action("Index", new { page, }), new  PagedListRenderOptions{
                        LinkToNextPageFormat="Next >>",
                        LinkToPreviousPageFormat = "<< Previous"
                      }) 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/span-->

</div><!--/row-->
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
                </td>
            </tr>
        }

    </table>*@
