@model ColorLife.Core.Mvc.PagedList<ShopingCartEF.Category>
@using ColorLife.Core.Mvc
<table aria-describedby="DataTables_Table_0_info1" id="DataTables_Table_01" class="table table-striped table-bordered bootstrap-datatable datatable dataTable">
    <thead>
        <tr role="row">
            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 50px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                ParentID
            </th>
            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 171px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                Name
            </th>
            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 140px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                Decription
            </th>
            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 40px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                SortOrder
            </th>
            <th aria-label="Username: activate to sort column descending" aria-sort="ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting_asc">
                Image
            </th>
            <th aria-label="Role: activate to sort column ascending" style="width: 137px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                IsPublish
            </th>
            <th aria-label="Actions: activate to sort column ascending" style="width: 288px;" colspan="1" rowspan="1" aria-controls="DataTables_Table_0" tabindex="0" role="columnheader" class="sorting">
                Actions
            </th>

        </tr>
    </thead>

    <tbody aria-relevant="all" aria-live="polite" role="alert">
        @foreach (var item in Model)
        {
            <tr class="odd">
                <td class="  sorting_1">
                    @Html.DisplayFor(modelItem => item.ParentID)
                </td>

                <td class="  sorting_1">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="center ">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="  sorting_1">
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td class="center ">
                    <img src="@item.ImageUrl" width="48" />



                </td>
                <td class="center ">
                    <span class="label label-success">Active</span>
                </td>
                <td class="center ">

                    <a class="btn btn-success" href="@Url.Action("Details", "Categories", new { id = item.CategoryID })">
                        <i class="halflings-icon white zoom-in"></i>
                    </a>
                    <a class="btn btn-info" href="@Url.Action("Edit", "Categories", new { id=item.CategoryID })">
                        <i class="halflings-icon white edit"></i>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Categories", new { id = item.CategoryID })">
                        <i class="halflings-icon white trash"></i>
                    </a>
                </td>
            </tr>
        }



    </tbody>
</table>
<div class="row-fluid">
    <div class="col-md-4">
        <div id="DataTables_Table_01_info" class="dataTables_info">

            Hiển thị @Model.StartRecordIndex đến @Model.EndRecordIndex của @Model.TotalItemCount bản tin
        </div>
    </div>
    <div class="col-md-8 center">
        <div class="dataTables_paginate paging_bootstrap pagination">
            @Html.AjaxPager(
                Model, new PagerOptions()
                {
                    PageIndexParameterName = "page",
                    ShowDisabledPagerItems = false,
                    AlwaysShowFirstLastPageNumber = true
                },
                new AjaxOptions
                {
                    UpdateTargetId = "dvAjaxData",
                    LoadingElementId = "Loader",

                })
        </div>
    </div>
</div>
        
